<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @allocation.value %>
</p>

<p>
  <b>Effective date:</b>
  <%= @allocation.effective_date %>
</p>

<p>
  <b>Note:</b>
  <%= @allocation.note %>
</p>

<p>
  <b>Account:</b>
  <%= @allocation.account_id %>
</p>


<%= link_to 'Edit', edit_allocation_path(@allocation) %> |
<%= link_to 'Back', allocations_path %>
