%h1 Listing projects

%table
	%tr
		%th Name
		%th
		%th
	- @projects.each do |project|
		%tr
			%td
				= link_to( project.name, project )
				( #{project.start_date} -  #{project.end_date})
			%td
				= link_to edit_project_path(project), :class => 'btn  btn-action btn-mini' do
					%i.icon-cog
					Edit
			%td
				= link_to project, confirm: 'Are you sure?', method: :delete, :class => 'btn  btn-danger btn-mini' do
					%i.icon-trash
					Delete