%p#notice= notice

%h2
	= link_to @project.name, project_path(@project)
%p
	%b From:
	=@project.start_date
	%b To: 
	=@project.end_date

%div.btn-group
	%a.btn.dropdown-toggle{"data-toggle" => 'dropdown', :href => '#'}
		Actions
		%span.caret
	%ul.dropdown-menu
		%li= link_to 'Create account', new_account_path(:project => @project)
		%li= link_to "View all allocations", allocations_project_path( @project )
		%li= link_to "View all expenses", expenses_project_path( @project )
	
%h3 Accounts
%table#accounts.table.table-bordered
	%tr
		%th Account
		%th Budgeted
		%th Spent
		%th Projected
		%th Ratio
		%th.span7 Actions
	- @project.accounts.each do |account|
		%tr
			%th= link_to account.name, account_path( account )
			%td.currency= number_to_currency(account.allocations.sum(:value))
			%td.currency= number_to_currency(account.expenses.spent.sum(:value))
			%td.currency= number_to_currency(account.expenses.projected.sum(:value))
			%td.percent= number_to_percentage( account.allocations.sum(:value) == 0 ? 0 : account.expenses.sum(:value) / account.allocations.sum(:value) * 100, :precision => 1 )
			%td
				= link_to new_allocation_path( :account_id => account.id ), :class => "btn btn-mini span3" do
					Allocation
					%i.icon-plus
				= link_to new_expense_path( :account_id => account.id ), :class => "btn btn-mini span3" do
					Expense
					%i.icon-plus
	%tr
		%th Total
		%th.currency= number_to_currency(@project.allocations.sum(:value))
		%th.currency= number_to_currency(@project.expenses.spent.sum(:value))
		%th.currency= number_to_currency(@project.expenses.projected.sum(:value))
		%th.percent= number_to_percentage( @project.allocations.sum(:value) == 0 ? 0 : @project.expenses.sum(:value) / @project.allocations.sum(:value) * 100, :precision => 1 )
		%th
			
- unless @project.accounts.empty?
	%h3 Graphs
	= render( :partial => 'project_graph',  :locals =>{ :project => @project } )
	= render( :partial => 'progression_graph', :locals =>{ :project => @project })
