.span5
	=semantic_form_for @account, :html => {:class => 'form-horizontal unstyled'} do |f|
		- if @account.errors.any? 
			#error_explanation
				%h2
					#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:
					%ul
						- @account.errors.full_messages.each do |msg|
							%li= msg

		.field
			= f.input :name
			= f.input :project
			
		.actions
			= f.submit :class => 'btn'
