%p#notice= notice

%div.page-header
	%h1= @account.name
	
%div.btn-group
	%a.btn.dropdown-toggle{"data-toggle" => 'dropdown', :href => '#'}
		Actions
		%span.caret
	%ul.dropdown-menu
		%li= link_to 'Edit', edit_account_path( @account )
		%li= link_to "New allocation", new_allocation_path( :account_id => @account )
		%li= link_to "New expense", new_expense_path( :account_id => @account )
	
%h2 Allocations
%table.table
	%tr
		%th.edit_button 
		%th.span1 Date
		%th Summary
		%th.span2 Value
		%th.delete_button Actions
	- @account.allocations.order("effective_date asc").each do |allocation|
		%tr
			%td
				= link_to edit_allocation_path( allocation ), :class => 'btn  btn-action btn-mini' do
					%i.icon-edit
					Edit
			%td= allocation.effective_date
			%td{ :id => [allocation.class, allocation.id] }= truncate( allocation.try( :title ) )
			%td.currency= number_to_currency( allocation.value )
			%td
				= link_to allocation_path( allocation ), confirm: 'Are you sure?', method: :delete, :class => 'btn  btn-danger btn-mini' do
					%i.icon-trash
					Delete
			%script
				$('##{allocation.class}_#{allocation.id}').popover({content: '#{allocation.note}', title: '#{allocation.title}'});
	%tr
		%th Total
		%th
		%th
		%th.currency= number_to_currency( @account.allocations.sum(:value) )
		%th
		
%h2 Expenses
%table.table
	%tr
		%th.edit_button 
		%th.span1 Date
		%th Summary
		%th Supplier
		%th.span2 Value (accrue?)
		%th.delete_button Actions
	- @account.expenses.order("effective_date asc").each do |expense|
		%tr
			%td
				= link_to edit_expense_path( expense ), :class => 'btn  btn-action btn-small' do
					%i.icon-edit
					Edit
			%td= expense.effective_date
			%td{ :id => [expense.class, expense.id] }= truncate( expense.try( :title ) )
			%td
				- unless expense.supplier.nil?
					= link_to expense.supplier.name, supplier_path( expense.supplier )
			%td.currency
				= number_to_currency( expense.value )
				%div{:class => [expense.accrue? ? 'icon-ok' : 'icon-remove']}
			%td
				= link_to( expense_path( expense ), :confirm => 'Are you sure?', :method => :delete, :class => 'btn  btn-danger btn-small') do
					%i.icon-trash
					Delete
			:javascript
				$('##{expense.class}_#{expense.id}').popover({content: '#{expense.description}', title: '#{expense.title}'});
				
	%tr
		%th Total
		%th
		%th
		%th
		%th.currency
			= number_to_currency( @account.expenses.sum(:value) )
			%i.icon-globe
		%th
	
= render( :partial => 'progression_graph', :locals =>{ :account => @account })

=link_to url_for(:back), :class => 'btn btn-large' do 
	%i.icon-arrow-left
	Back
